:root{
  ---glass:rgba(255, 255, 255, 0.2);
  ---light:rgb(235, 63, 112);
  ---best:
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body ,html {
    height: 100%;
}
body
{
    margin: 0%;
    font-family: Arial, sans-serif;
    background-color:rgba(0, 0, 0, 0.712);
    color: white;
    line-height: 1.6;
    padding: 20px;
}
/* ////header */
.site-header{
    position: sticky;
    top: 0;
    background-color: black;
    border-bottom: 1px 
    solid #444;
    
}
.header-inner{
    max-width: 1000px;
    margin: auto;
    padding: 12px 18px;
    display: flex;
    
    align-items: center;
}

h2 main{
    font-weight: 200;
    letter-spacing: 0.4px; 
    left: 40px;

}
/* nav */
.site-nav{
  width:100%;
  display:flex;
  align-items:center;
  gap:18px;
  margin-left:12px;
}
.menu{
  display:flex;
  gap:25px;
  margin:0;
  padding:0;
  list-style:none;
  align-items:center;
  text-decoration: none;

}
.menu-item{position:relative}
.menu-link{
  display:inline-flex;
  align-items:center;
  gap:8px;
  padding:10px 12px;
  color:#fff;
  text-decoration:none;
  border-radius:6px;
  font-weight:600;
  transition:background .18s, color .18s;
}
.menu-link:hover{background:var(--glass); color:#fff}


/* ////////////////////////////////////////// drop down panel  */
.dropdown{
  position:absolute;
  left:0;
  top:calc(100% + 8px);
  min-width: 640px;
  display: flex;
  gap: 18px;
  padding:18px;
  background:#111;
  border:1px solid #222;
  border-radius:6px;
  box-shadow:0 4px 8px rgba(0,0,0,.2);
  opacity:0;
  visibility:hidden;
  transform:translateY(-8px);
  transition: opacity .2s ease, transform .22s ease;
  z-index:60;
  pointer-events: none;
  justify-content: space-around;

}
.dropdown-column{
  min-width: 180px;
}
.dropdown-column h4{
  margin: 0 0 8px 0;
  font-size: 0.9rem;
  color: #fff;
}

.dropdown-column ul{ margin:0; padding:0; list-style:none; }
.dropdown-column li{ margin: 6px;  }
.dropdown-column a{ color: var(---light);text-decoration: none; }
.dropdown-column a:hover{ color: #fff;text-decoration: none; }

.menu-item:hover .dropdown{
  opacity:1;
  visibility:visible;
  pointer-events: auto;
  transition: 1s  ease-in-out; 
   
}
/* ////////////////header end */
.main-content{
    max-width: 100%;
    margin: 20px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    height: 1000px;
    display: flex;
    gap: 20px;
}
.left-sidebar{
    height: 1000px;
    width: 22%;
    padding: 30px;
background-color: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    color: white;
    text-align: center;
}
.side-right-con{
    
    font-size: 18px;
    line-height: 1.8;
    letter-spacing: 2px;
list-style-type: none;
}
.right-sidebar{
    height: 1000px;
    width: 22%;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 8px;
    color: white;
    text-align: center;
}
.right-side-link{
    text-decoration: none;
    color: white;

}
.right-side-link:hover{
  
    text-decoration: underline; 
    color: plum;
    
}
.right-side-link:focus{
    
    text-decoration: underline;
    color: violet;

}
.side-left-con,.how-to{
    
    font-size: 18px;
    line-height: 1.8;
    letter-spacing: 2px; 
list-style-type: none;    
}
.side-left-con li {
    position: relative;
}
 .sub-guide{

  opacity:0;
  visibility:hidden;
  transform:translateY(-8px);
  transition: opacity .2s ease, transform .22s ease;
  z-index:60;
  pointer-events: none;
  justify-content: space-around;  
  }


.guide:hover .sub-guide{
   
  opacity:1;
  visibility:visible;
  pointer-events: auto;
  transition: 1s  ease-in-out; 
   
    
}
.content{
  flex: 1;
  text-align: center;
  margin-bottom: 40px;
}
h2{
  color: var(---glass );
}
















